/*****************************************************************      MEDIA QUERIES        ****************************************************************************************/
@media (max-width:720px){

    #addDietButton1{
        font-size: 9px;
        padding: 3px;
        width: auto;
    }
     
    #addDietButton2{
        font-size: 9px;
        padding: 3px;
        width: auto;
    }
    
    #addDietButton3{
        font-size: 9px;
         padding: 3px;
         width: auto;
    }
    
    .materialboxed.initialized{
        display: none;
    }
 
}

@media (max-width:360px){
    
    #addDietButton1{
        font-size: 9px;
        padding: 2px;
        width: auto;
    }
     
    #addDietButton2{
        font-size: 9px;
        padding: 2px;
        width: auto;
    }
    
    #addDietButton3{
        font-size: 9px;
         padding: 2px;
         width: auto;
    }
}





/*****************************************************************     HTML        *******************************************************************************************/

html{
    font-weight: unset;
}
 
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  main {
    flex: 1 0 auto;
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
  }
 
 .container{
    margin-top: 10px;
}
h1, 
h2{
   font-family: 'KoHo', sans-serif;
   font-size: 5rem;
   font-decoration: bold;
   
}

.row .col.s4 {
    /* width: 33.3333333333%; */
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 105px;
    /* padding-left: 55px; */
    padding-bottom: 40px;
    padding-left: 66px;
}
 /*****************************************************************     NAVIGATION BAR       *******************************************************************************************/

nav{
  
  height:250px;
   font-family: 'Coming Soon', cursive;
   font-size: -1rem;
   font-weight: bolder;
   background-color: #ffffff;
}

nav ul a {
 -webkit-transition: background-color .3s;
 transition: background-color .3s;
 font-size: 1rem;
 color: #2bbbad;
 display: block;
 padding: 78px;
 cursor: pointer;
}

.logo {
    height: 188px;
    width: 220px;
 
}

.material-icons{
    color:#2bbbad;
}
/*****************************************************************     LINKS AND BUTTONS  *******************************************************************************************/

a: {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}


a:active {
  color: white;
}




.brand-logo{
   font-family: 'Coming Soon', cursive;
   margin-left: 20px;
   text-transform: capitalize;
   transform: rotate(-10deg);
   
}
/*****************************************************************     VENUE PAGE      *******************************************************************************************/
#venue_img{
    background-image: url('images/castillotamarit.jpg');
    background-size: cover;
    padding-top: 50px;
}

.paragraph_venue{
    color: white;
}

font-weight-on-paragraph{
    font-weight: 100;
}


/*****************************************************************     FOOTER      *******************************************************************************************/


#icons-footer a{
    color: white;
}



.page-footer {
    padding-top: 20px;
    color: #fff;
     background-color: #80cbc4;
    
}
footer {
    text-align: center;
   
}
i{
    font-size: 100px;
    padding-right: 20px;
    color: white;
}
#copyright{
    color: black;
    text-align: center;
   margin-left: 280px;
}

.underline{
    text-decoration: underline;
    
}



