{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="grid-example col s12 text-align-center">
            <span class="flow-text text-align-center"> 
            <h1 class="hvr-rotate">Contact Us</h1>
            <h2> Any questions?</h2>
        </span>
        </div>
    </div>
    <div class="row">
        <div class="grid-example col s12 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                If you've any questions about anything, any special requests, please let us know.
                Please fill in the form below our contact details.
            </p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="grid-example col s6 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                <i class="fas fa-at"></i>
               kiraandbillwedding@gmail.com
            </p>
            </span>
        </div>
        <div class="grid-example col s6 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                <i class="fas fa-phone"></i>
                +353 133556879
            </p>
        </span>
        </div>
    </div>
</div>

{% endblock %}
