{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="grid-example col s12 text-align-center">
            <span class="flow-text text-align-center"> 
            <h1 class="hvr-rotate">Contact Us</h1>
            <h2> Any questions?</h2>
        </span>
        </div>
    </div>
    <div class="row">
        <div class="grid-example col s12 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                If you've any questions about anything, any special requests, please let us know.
                Please fill in the form below our contact details.
            </p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                <i class="large material-icons">local_post_office</i>
               <a href="mailto: kiraandbillwedding@gmail.com" target="_top">kiraandbillwedding@gmail.com</a>
            </p>
            </span>
        </div>
         <div class="row">
        <div class="col s12 m12 text-align-center">
            <span class="flow-text text-align-center"> 
            <p>
                <a href="tel:+353-89-418-5530">
                <i class="large material-icons">phone</i>
                 +353 89418 5530
                </a>
                
            </p>
        </span>
        </div>
    </div>
    </div>
</div>

{% endblock %}
