{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="grid-example col s12 text-align-center">
        <span class="flow-text text-align-center"> 
            <h1 class="hvr-rotate">Directions</h1>
            <h2>How to get to Tamarit?</h2>
        </span>
        </div>
    </div>
    <div class="row">

        <div class="grid-example col s6 text-align-center">
        <span class="flow-text text-align-center"> 
            <p>
              
               <i class="large material-icons">airplanemode_active</i><p>FLYING</p>
            </p>
            <p>
                There is 2 main airports:
            </p>
            <p>
                <ol>
                    <b><li class="underline">BARCELONA-ELPRAT AIRPORT</li></b>
                    <p>

                        This is 50 mins driving. Is a train option that takes you from the airport and you have to get off in Altafulla-Tamarit.
                    </p>
                    <b><li class="underline">REUS AIRPORT </li></b>

                    Is only 20 mins driving to Tamarit. Is also a bus and train option.
                </ol>
            </p>
        </span>
        </div>
        <div class="col s6 text-align-center">
        <span class="flow-text text-align-center"> 
            <p>
                <i class="large material-icons">directions_car</i>
                <p>DRIVING</p>
            </p>
            <p>
                If you are driving from Barcelona city, it will take approximately 1 hour and 15 mins depending on traffic.
            </p>

        </span>
        </div>
        </div>

   
    
<div class="row">
        <div class="grid-example col s12 text-align-center">

    <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d384168.7474584944!2d1.3311096650545458!3d41.214832687595525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x12a15719c4ce01c9%3A0xa700f81c5e6d6757!2sAeropuerto+de+Reus%2C+s%2Fn%2C+Autov%C3%ADa+Tarragona%2C+43204+Reus%2C+T%2C+Spain!3m2!1d41.1482576!2d1.1682914!4m5!1s0x12a49e64847c8ea5%3A0xf32be942fb6f9bd7!2sBarcelona%E2%80%93El+Prat+Airport%2C+08820+El+Prat+de+Llobregat%2C+Barcelona%2C+Spain!3m2!1d41.297444999999996!2d2.0832941!4m5!1s0x12a3fa99aaaaaaab%3A0x63e2a054739ce391!2sCastell+de+Tamarit%2C+Tarragona%2C+Spain!3m2!1d41.130101599999996!2d1.3612598999999999!5e0!3m2!1sen!2sie!4v1541070630994"
        width="900" height="200" frameborder="0" style="border:0" allowfullscreen></iframe> {% endblock %}
        
    </div>
</div>
