{% extends "base.html" %} {% block content %}



<div class="container">
    <div class="row">

        <div class=" col s6"><span class="flow-text">
          <h1 class="hvr-rotate"> Venue </h1>
          <h2> Tamarit Castle</h2>
          </div>
          <div class=" col s6">
              <h1></h1>
              <p></p>
              <span class="container">
          <img class="materialboxed" width="250" src="static/css/images/castillotamarit.jpg">
         </div>
        
         
        <div class="grid-example col s12 text-align-center">
            
        <span  id="venue_img" class="flow-text text-align-center"> 
       
            
       
        <p>
           Welcome to Tamarit(Altafulla), Barcelona
        </p>

        <p>Located at 10 minutes from Tarragona in a privileged space in a forest in front of the sea, surrounded by history and great beauty is Tamarit.

        Tamarit is a village well known because of its beautiful castle.
        </p>

         <p>We will be saying yes to each other in this magical and special venue: Castell de Tamarit.

        You can find more information about the venue in the following link: 
        <a href=" https://en.castillotamarit.com">Castell Tamarit Website</a>
        </p>
    </div>
</div>

{% endblock %}
