{% extends "base.html"%} {% block content %}




<div class="container">
    <div class="row">

        <div class="grid-example col s12"><span class="flow-text">
          <h1> Welcome to our website! </h1>
         </div>
        <div class="grid-example col s12 m6 text-align-center">
        <span class="flow-text text-align-center"> 
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium delectus iusto quidem quas, nemo, explicabo ad quibusdam repellendus ea 
        sapiente eaque nulla excepturi, obcaecati quasi mollitia aperiam. Vero, assumenda, aspernatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium delectus iusto quidem quas, nemo, explicabo ad quibusdam repellendus ea 
        sapiente eaque nulla excepturi, obcaecati quasi mollitia aperiam. Vero, assumenda, aspernatur.
        
        
        </p>
        </span>
        </div>
    </div>


<div class="row">

    <div class=" col s4 m12">

<a href="/add_guest" class="btn waves-effect waves-light btn btn_small ">Add Guest
    <i class="material-icons right">send</i>
</a>

<a href="/add_diet" class="btn waves-effect waves-light btn btn_small ">Add Diet
    <i class="material-icons right">send</i>
</a>

<a href="/add_table" class="btn waves-effect waves-light btn btn_small">Add Table
    <i class="material-icons right">send</i>
</a>
</div>
{% endblock %}
