{% extends "base.html"%} {% block content %}




<div class="container">
    <div class="row">

        <div class="grid-example col s12"><span class="flow-text">
          <h1 class="hvr-rotate">Welcome to our Wedding Website </h1>
          <h2> Kira  and Bill are getting married!</h2>
         </div>
        <div class="grid-example col s12 text-align-center">
        <span class="flow-text text-align-center"> 
        <p>
        Welcome to our wedding website, we can’t wait to celebrate our special day with you.
        </p>
        <p>
        We’ve created this website as a convenient and interactive way to share all of the important details with you in the lead up to our wedding.

        You can also read more about our love story, get to know our awesome bridal party, and check out our registry information too.

        So have fun, take a look around and 
        <strong>don’t forget to RSVP, you will receive a link on your email to do this!</strong>
        </p>
        <p>
        Finally – thank you for your ongoing love and support. We are so excited to share this day with you and look forward to dancing the night away with all of our favourite people!’
        
        
        </p>
        </span>
        </div>
    </div>


<div class="row">

    <div class=" col s4 m12">

<a href="/add_guest" class="btn waves-effect waves-light btn btn_small ">Add Guest
    <i class="material-icons right">send</i>
</a>

<a href="/add_diet" class="btn waves-effect waves-light btn btn_small ">Add Diet
    <i class="material-icons right">send</i>
</a>

<a href="/add_table" class="btn waves-effect waves-light btn btn_small">Add Table
    <i class="material-icons right">send</i>
</a>
</div>
</div>
</div>

{% endblock %}
